/* 
    Created on : 14/05/2014, 01:21:51 PM
    Author     : SistemasCompec
*/

#game_object {
    background-color: #ffffff;
    height: 705px;
    margin: 20px auto;
    position: relative;
    width: 705px;
}
#board div {
    background: url("../img/youhaveno.jpg") no-repeat scroll 0 0 #ffffff;
    cursor: pointer;
    height: 180px;
    line-height: 180px;
    position: absolute;
    text-align: center;
    width: 180px;

    /* css3 shadow */
    -moz-box-shadow: inset 0 0 20px #555555;
    -webkit-box-shadow: inset 0 0 20px #555555;
    -ms-box-shadow: inset 0 0 20px #555555;
    -o-box-shadow: inset 0 0 20px #555555;
    box-shadow: inset 0 0 20px #555555;
}
