/* 
    Created on : 12/03/2014, 12:16:43 PM
    Author     : Yvancho
*/

*{
    margin: 0;    
}

body{
    background: lightgray;
    color: white;
    font-family: Arial;
    font-size: 16px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

header{
    border: 10px solid black;
    display: inline-block;
    padding: 20px;
}
#contenedor{
    max-width: 700px;
    margin: 0 auto;
    background: grey;
}

#webs{
    background: gray;
    text-align: center;
    padding: 20px;
}

#webs article{
    width: 150px;
    padding: 10px;
    border: 1px solid white;
    background: #ccc;
    display: inline-block;
}

.avatar, .personal{
    float: left;
}

.avatar{
    border: 5px solid white;
    margin-left: 20px;
}
